<div style="font-size:14pt;padding:10pt;background-color:lightgray;width:500px;">
  <%= bootstrap_form_for(list_item) do |f| %>
    <% if list_item.errors.any? %>
      <div id="error_explanation">
        <h2>
          <%= pluralize(list_item.errors.count, "error") %> prohibited this list_item from being saved:
        </h2>
        <ul>
          <% list_item.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%= f.hidden_field :list_type_id %>
    <%= f.hidden_field :user_id %>

    <div class="field">
      <%# f.label :title %>
      <%= f.text_field :title %>
    </div>

    <div class="field">
      <%# f.label :description %>
      <%= f.text_field :description %>
    </div>

    <div class="field">
      <%# f.label :link %>
      <%= f.text_area :link %>
    </div>

    <!--
  <div class="field">
    <%# f.check_box :onHold %>&nbsp;On Hold
  </div>

  <div class="field">
    <%#= f.label :doneDate %>
    <%#= f.date_select :doneDate %>
  </div>

  <div class="field">
    <%= f.check_box :suggested %>&nbsp;Already Suggested
  </div>
-->

    <div class="actions">
      <% label = @list_item.persisted? ? 'Save' : "Add to #{@list_item.list_type.noun true}" %>
      <%= f.submit label, class: 'btn btn-primary', style: 'font-size:12pt;' %>
      <a href="<%= list_items_path(list_type_id: @list_item.list_type_id) %>" class="btn btn-danger" style="font-size:12pt;color:white">Cancel</a>
    </div>
  <% end %>
</div>