<p id="notice"><%= notice %></p>

<%# content_tag :h2, @list_type.title if @list_type %>
<table class="table table-striped">
  <tbody>
  <% @list_items.each do |list_item| %>
    <tr>
      <td>
        <h3><strong><%= list_item.title %></strong></h3>
        <% if list_item.description.present? %>
          &nbsp;&nbsp;<%= list_item.description %><br>
        <% end %>
        &nbsp;&nbsp;<%= list_item.link %>
      </td>
      <td><%= item_status list_item %></td>
      <td>
        <%= link_to 'Show', list_item %>
        <br><%= link_to 'Edit', edit_list_item_path(list_item) %>
        <br><%= link_to 'Destroy', list_item, method: :delete, data: {confirm: 'Are you sure?'} %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>
<% if !@list_type %>
  <h4> Select a type of list above to import items from your computer</h4>
<% else %>
  <h4> To import list items from your computer, click 'Choose File' then 'Import Items'</h4>
  <%= form_for current_user do |f| %>
    <%= f.file_field :import %>
    <%= f.submit 'Import Items' %>
  <% end %>
  <% if current_user.import_type == @list_type && current_user.imports %>
    <h3>Items ready for import</h3>
    <table class="imports">
      <thead>
      <tr>
        <th>Title</th>
        <th>Link</th>
        <th>Description</th>
        <th colspan="3"></th>
      </tr>
      </thead>

      <tbody>
      <% current_user.imports.each do |item_to_import| %>
        <tr>
          <td><strong><%= item_to_import.title %></strong></td>
          <td><%= item_to_import.link %></td>
          <td><%= item_to_import.description %></td>
          <td><%= render "item_button", item_to_import: item_to_import %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  <% end %>
<% end %>

<br>

<%= link_to 'New List Item', new_list_item_path %>
